



<div class="modal-demo">

    <div type="text/ng-template" id="signup.modal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{ modal.title }}</h3>
            <h1>{{ modal.tester }} should be here</h1>
        </div>

        <div class="modal-body" id="modal-body">
          <form id="log-in-form" ng-controller="LogInController as login" ng-submit="login.login()">
            <input type="text" id="login-username" ng-model="login.credentials.username">
            <input type="password" id="login-password" ng-model="login.credentials.password">
            <!-- <button type="submit">Log In</button> -->
          </form>
            <!-- Selected: <b>{{ modal.selected.item }}</b> -->
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="modal.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
        </div>
    </div>


</div>
