
<div class="modal-controller login">

    <div type="text/ng-template" id="login.modal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{ modal.title }}</h3>
            <h1>{{ modal.tester }} should be here</h1>
        </div>

        <div class="modal-body" id="modal-body">

              <input type = "text" name="username" ng-model ="modal.credentials.username">
              <input type="text" name="password" ng-model="modal.credentials.password">
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="modal.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
        </div>
    </div>


</div>
